.navbar-default {
  background-color: #848589;
  border-color: #767676;
}
.navbar-default .navbar-brand {
  color: #fbfbfb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #767676;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #767676;
}
.navbar-default .navbar-toggle {
  border-color: #767676;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #767676;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfbfb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfbfb;
}
.navbar-default .navbar-link {
  color: #fbfbfb;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #767676;
  }
}

div .aboutcontainer {
  margin-top: 20px;
}

div .aboutcol {
  outline: 1px solid #999;
}

body {
  background-color: #f0f0f5;
  padding-top: 50px;
  font: 16px sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

html {
  overflow-y: scroll;
}

.top-buffer { margin-top:
  20px;
}

span.glyphicon-envelope {
    font-size: 5.5em;
}

a.envelope
{
   color: #000;
   text-decoration: none;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.top-buffer { margin-top:20px; }

.bottom-buffer { margin-bottom:50px; }
