---
layout: default
title: Research
---
    <link href="{{ site.baseurl }}/css/research.css" rel="stylesheet">
    <div class="container">

        <h2>Overview:</h2>

        <p>My thesis work was in Professor <a href="http://www.elenadonghia.com/">Elena D'Onghia's group</a> on interactions between dwarf galaxies. Much of her work focuses on dynamics of disks like our Milky Way. One of the issues is how spiral arms form, and you can play with an interactive version of her results <a href="{{ site.baseurl }}/research_visualizations/num_arms.html">here</a>.</p>

        <p> You can also check out our group's <a href="https://donghiagroup.github.io/">Github page</a> to see publicly available code.</p>

        <p>My thesis work focused on interactions between small galaxies. I use computation models to understand how these small systems grow, interact, and ultimately build larger systems like the Milky Way.

        In particular, I focus on Magellanic spirals - galaxies that, like the Large Magellanic Cloud, have misplaced bars, single spiral arms, or irregular features. I have written papers on how these galaxies interact, how they can contribute gas to our own galaxy in the form of cold gas streams, and how the satellite population may be different around them.</p>

        <h2>Research Projects</h2>



        <div class="row">
            <div class="col-xs-0 col-md-12">
                <ul class="img-list">
                  {% for project in site.data.research %}
                  <li>
                    <a href="#{{ project.id }}">
                      <img src="{{ site.baseurl }}/images/researchthumbnails/{{ project.picture.url }}" width="150" height="150" />
                      <span class="text-content"><span>{{ project.name }}</span></span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% for project in site.data.research %}
        {% capture sectionCycle %}{% cycle 'A-section', 'B-section' %}{% endcapture %}
        {% capture sectionPush %}{% cycle 'col-md-push-8', '' %}{% endcapture %}
        {% capture sectionPull %}{% cycle 'col-md-pull-4', '' %}{% endcapture %}

        <div class="row proj_content {{ sectionCycle }}" id={{ project.id }}>
            <div class="col-xs-0 col-md-4 {{ sectionPush }}">
                <p><img id="projpix" src="{{ site.baseurl }}/images/researchthumbnails/{{ project.picture.url }}" border="0" alt="" class="img-responsive"></p>
            </div>
            <div class="col-xs-12 col-md-8 {{ sectionPull }}" id={{ project.id }}>
                <h2>{{ project.short }}</h2>

                {% for paragraph in project.long %}
                <p>{{ paragraph }}</p>
                {% endfor %}

                {% if project.papers %}
                <h4>Paper{% if project.papers.size > 1 %}s{% endif %}:
                    {% for paper in project.papers %}
                    <a href={{ paper.href }}>{{ paper.linktext }}</a>{% if forloop.last == false %} and {% endif %}
                    {% endfor %}
                </h4>

                {% endif %}
                <p><h4>Picture:</h4> {{ project.picture.description }}</p>
                {% if project.interactive %}
                <h4>Explore the data <a href="{{ site.baseurl }}/research_visualizations/{{ project.interactive }}">here</a>.</h4>
                {% endif %}
            </div>
        </div>

        {% endfor %}


        </div>
        </div>
        <div class="push"></div>

