        <footer>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>email: spardy [at] astro.wisc.edu</p>
                </div>
                <div class="col-sm-1">
                    <p><a href="https://github.com/stephenpardy"><img src="/images/GitHub-Mark-64px.png" alt="Github"></a>
                </div>
                <div class="col-sm-1">
                    <a href="http://www.researchgate.net/profile/Stephen_Pardy"><img  src="/images/researchgate2.svg" height=64px width=64px alt="Research Gate"></img></a></p>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.linkedin.com/in/stephen-pardy-599b7b98"><img src="/images/In-Black-66px-TM.png" height=66px width=78px alt='linkedin'></img></a></p>
                </div>
            </div>
        </div>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".expanded").hide();

        $(".expanded, .collapsed").click(function() {
          $(this).parent().children(".expanded, .collapsed").toggle();
        });
      });
    </script>
    </body>
</html>