<!DOCTYPE html>
<html>

{% include head.html %}
    <body id="page-top" data-spy="scroll" data-target="#cvNav">
    <div class="container">
        <div class="row">
            <div class="col-10">
                {{ content }}
            </div>
        </div>
        <div class="row bottom-buffer"></div>
    </div><!-- /.container -->

{% include foot.html %}
</body>
<script src="{{ site.baseurl }}/resources/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/resources/scrolling-nav.js"></script>